/*
/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6;;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    color: rgb(0, 71, 171);

}
:root {
  --bleu-bille: #112B92;
  --vert-karel: #00B788;
  --orange-karel: #ff5900;
  --rose-karel: #FCBFC4;
  --rose-pale: #ffe1e4;
  --red-question: #ff3f00;
}
main {
      flex-direction: row-reverse;
}
nav {
      padding-bottom: 10px;
}
/* p.logo {
  width: 212px;
display: inline;
float: left;
margin-right: 18px;
margin-top: 19px;
margin-left: 20px;
margin-bottom: 10px;
float: left;
} */
/* nav ul li {
  padding-right: 0pt;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: relative;
  margin-top: 43px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
} */

.left {
  flex: 2 0;
  border-right: 0px;
}
.right {
  flex-direction: column;
  flex: 1 0;
  border-right: 2px solid;
}

.about {
  border-top: 2px solid;
  flex: 1 0;
}
.left .about {
  font-family: junicode-condensed;
  line-height: 1em;
  font-size: 1.7em;
  border-top: 0px;
}
.left .about p + p {
  margin-top: 0.6em;
}
.intro {
  font-family: "Junicode-Condensed";
  font-size: 1.7em;
  line-height: 1em;
}
.prolog {
  padding: 20px;
  background-color: var(--rose-pale);
  flex: 2 1;
  overflow-y: auto;
}
.about {
  flex: 1 1;
}
dt {
  font-size: 0.8em;
  line-height: 1.3em;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 0.025em;
}
dl {
  margin: 0;
}
dd {
  margin: 0;
}

dd + dt, dl + p {
  margin-top: 12pt;
}
blockquote {
  font-family: "Caveat-Outline";
  line-height: .8em;
  font-size: 4em;
  margin: 0;
  color: var(--orange-karel);
}
blockquote footer {
  font-family: "U001";
  font-size: 0.25em;
  line-height: initial;
  color: black;
}

@media only screen and (max-width: 767px) {
  main {
    flex-direction: column;
  }

  .about {
    max-height: initial;
  }
  .right .about {
    margin-top: 0;
  }

  .left .contact {
    margin-top: 77px;
  }
  
  .prolog {
    padding: 20px;
    background-color: var(--rose-pale);
    flex: 1 1;
    overflow-y: initial;
  }
}