.agenda {
    overflow-y: auto;
    flex: 0 0;
}

#detail-container.programme {
    background-color: white;
    color: var(--bleu-bille);
}
.event-detail-schedule,
#detail-container .event-detail-footer{
    border-top: 2px solid var(--bleu-bille);
}
@media only screen and (max-width: 767px) {
  #detail-container {
    display: block;
  }

  .right {
    display: block;
    margin-top: 77px;
  }

  .left {
    height: auto;
  }

  .agenda {
    display: none;
  }

  #prolog {
    display: none;
  }

  .about {
    display: none;
  }

  blockquote {
    margin-right: 0pt;
  }
}