@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-RegularCondensed.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-BoldItalicCondensed.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Junicode-Condensed";
  src: url("fonts/junicode/Junicode-BoldCondensed.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Caveat-Outline";
  src: url("fonts/Caveat.woff");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Reg.woff");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Bol.woff");
  font-weight: Bold;
  font-style: normal;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-BolIta.woff");
  font-weight: Bold;
  font-style: italic;
}

@font-face {
  font-family: "U001";
  src: url("fonts/u001-font-univers/webfonts/U001-Ita.woff");
  font-weight: regular;
  font-style: italic;
}

/* width */

::-webkit-scrollbar {
  width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #d6d6d6;
  ;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  color: rgb(0, 71, 171);
}

/* ==========================================================================
   Custom medias definitions
   ========================================================================== */

@custom-media --mobile only screen and (max-width: 767px);
@custom-media --mobile-landscape only screen and (max-width: 767px) and (orientation: landscape);
/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  --bleu-bille: #112B92;
  --vert-karel: #00B788;
  --orange-karel: #ff5900;
  --rose-karel: #FCBFC4;
  --rose-pale: #ffe1e4;
  --red-question: #ff3f00;
}

body {
  font-family: "U001";
  font-size: 1.4em;
  padding: 0px;
  margin: 0px !important;
  line-height: 1.2em;
  height: 100%;
}

p {
  margin: 0;
}

p.event-date+p, p.event-title+p, p.event-date+p.event-date, .event-infos, p.event-title, p.event-detail-title, .event-detail-schedule .event-infos+p {
  margin-top: 0pt;
}

p.event-title+p.event-exerpt, .event-detail-schedule .event-infos, p+p {
  margin-top: 12pt;
}

strong {
  /* font-family: "Junicode-Condensed"; */
  font-weight: inherit;
  font-style: italic;
  /* text-transform: lowercase; */
}

/* .event-title strong {
      font-size: 1.5em;
}
.partners strong {
      font-size: 1.3em;
} */

a {
  text-decoration: none;
  color: inherit;
  border: 0px solid black;
  font-size: 1em;
  border-bottom: 2px solid;
}

a.artist {
  text-decoration: none;
  border: 1.5px solid;
  border-top: 0px;
  padding-top: 90px;
  font-size: 0.2em;
  padding: 1px 8px;
  color: black;
  /* font-weight: bold; */
  vertical-align: middle;
  line-height: 0;
}

a.artist span {
  padding-bottom: 10px;
  top: -13px;
  bottom: 77px;
  font-size: 4.8em;
}

div.button {
  margin-top: 12px;
}

a:hover {
  color: var(--orange-karel);
  border-color: var(--orange-karel);
}

#detail-container a {
  color: inherit;
  border-color: inherit;
}

#detail-container a:hover {
  color: var(--orange-karel);
  border-color: var(--orange-karel);
}

.logo a {
  border: 0px double black;
  padding: 0px 0px;
}

sup {
  line-height: 0pt;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li::before {
  content: "─ ";
}

nav {
  top: 0px;
  border-bottom: 2px solid;
  z-index: 1;
  flex: 0 0;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  /* margin: auto; */
  /* width: 23px; */
  /* left: 0; */
  position: relative;
  margin-top: 40px;
}

nav ul li {
  flex: 0 0 auto;
  padding-right: 5px;
  /* padding-top: 18px; */
  display: inline-block;
}

nav ul li::before {
  content: "";
}

nav li a {
  text-decoration: none;
  color: inherit;
  border: 0px solid black;
  font-size: 1em;
}

nav li a:hover {
  color: var(--orange-karel);
  border-color: var(--orange-karel);
}

img.logo {
  width: 100%;
}

p.logo {
  width: 98px;
  display: inline;
  float: left;
  margin-right: 18px;
  margin-top: 19px;
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
}

#container {
  margin: 0px 20px;
  border-left: 2px solid;
  border-right: 2px solid;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  overflow: hidden;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  border-right: 2px solid;
  flex: 1 0;
}

.right {
  display: flex;
  flex-direction: row;
  flex: 2 0;
}

.tags {
  color: var(--bleu-bille);
  font-size: 0.7em;
}

.tags li, .documents li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 4px;
}

img.event-image {
  border: 2px solid black;
  max-width: 20%;
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0pt;
}

img.event-detail {
  border: 2px solid black;
  width: 100%;
  margin: 0.3em 1em 0.3em 0;
}

#prolog, .about, .partners, .pad, .contact {
  padding: 20px
}

#prolog, .about {
  background: white;
  overflow-y: auto;
}

#prolog {
  flex: 2 0;
  color: #ff3f00;
  /* background-color: var(--rose-pale); */
  background-image: url(img/reading-room8-cover.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.about {
  border-top: 2px solid;
  flex: 1 0;
}

.intro {
  font-family: "Junicode-Condensed";
  font-size: 1.7em;
  line-height: 1em;
}

.agenda {
  overflow-y: auto;
  flex: 1 0;
}

/* .agenda .event.active::before {
  content: "\27A8";
  position: absolute;
  margin-left: -26pt;
  margin-top: 0px;
}
#detail-container .event.active::before {
  content: "\27A8";
  position: absolute;
  margin-left: -30pt;
  transform: scale(-1);
  color: var(--bleu-bille);
  margin-top: 14pt;
} */

.partners {
  clear: both;
  bottom: 0pt;
  background-color: var(--rose-karel);
  border-top: 2px solid;
  flex: 0 0;
}

.partners img.logo-partners {
  height: 38px;
  margin-top: 11px;
  float: right;
}

.question-quote {
  font-size: 4.6em;
  line-height: .9em;
  font-family: "Caveat Outline";
  margin-bottom: 30px;
}

.question-quote:hover {}

blockquote {
  font-family: "Junicode-condensed";
  font-weight: bold;
  line-height: 0.9em;
  font-size: 1.7em;
  margin: 15px 40px;
}

blockquote+p, .event-infos+blockquote {
  margin-top: 24pt;
}

/* events */

.event {
  padding: 20px;
  /* padding-bottom: 27px; */
  border-bottom: 2px solid black;
  clear: both;
}

#detail-container .event.active {
  padding: 0px;
  border-bottom: 0px solid black;
}

.event-date, .event-detail-date, .event-infos {
  font-size: 1.7em;
  font-weight: bold;
  font-family: "Junicode-Condensed";
  line-height: 1.1em;
}

.event-infos {
  font-size: 1em;
  line-height: 1.1em;
}

.event-title, .event-detail-title {
  font-size: 0.8em;
  line-height: 1.3em;
  text-transform: uppercase;
  /* color: black; */
  font-weight: bold;
  letter-spacing: 0.025em;
}

.event-detail-schedule {
  border-top: 2px solid white;
  padding: 20px 30px;
}

#detail-container .event-detail-footer {
  border-top: 2px solid white;
}

#detail-container div.event-detail-schedule+div.event-detail-footer {
  background-color: var(--orange-karel);
  color: white;
}

#detail-container .event-detail-header, #detail-container .event-detail-footer {
  padding: 20px 30px;
}

.event-exerpt {
  font-weight: normal;
}

/* event activated */

/* .agenda .event.active a, */

.agenda .event.active {
  color: var(--bleu-bille);
  border-color: var(--bleu-bille);
  /* padding: 10px;
  border: 2px solid; */
}

/* .event::after {
  content: "\297C";
    font-style: normal;
    font-weight: normal;
}
.event.active::after {
  content: '\297F' ;
} */

/* .event::before {
  content: "1";
  font-family: "Junicode-Condensed-Bold";
  border: 2px solid var(--bleu-bille);
  padding: 0px 10px;
  font-size: .8em;
  float: left;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}
[id=caveat-at-lodger].event::before {
  content: "2";
}
[id=workshop-collaboration].event::before {
  content: "3";
}
[id=workshop-artist-curator].event::before {
  content: "4";
}
[id=workshop-distributing].event::before {
  content: "5";
}
[id=workshop-signature-right].event::before {
  content: "6";
}
[id=presentation-philippe-thomas].event::before {
  content: "7";
}
[id=presentation-sota].event::before {
  content: "8";
} */

.event-detail, .event-infos {
  display: none;
}

#detail-container {
  flex: 1 0;
  display: block;
  overflow-y: auto;
  background-color: var(--bleu-bille);
  color: white;
}

#detail-container .event.active .event-detail, #detail-container .event-infos {
  display: block;
}

#detail-container .event.active .event-exerpt, #detail-container .event.active img.event-image, #detail-container .event.active .button-header {
  display: none;
}

p+.event-detail-date {
  margin-top: 12pt;
}

#detail-container .event.active .event-title {
  color: inherit;
}

#detail-container .event:before {
  display: none;
}

.event-detail p {
  padding-left: 0px;
}

.event-detail p.event-infos, .event-detail p.event-detail-date {
  padding-left: 0px;
}

/*pads styles*/

div .pad {
  max-width: 800px;
}

.pad h1, h2, h3 {
  font-family: Junicode Condensed;
}

.pad .meta {
  font-size: 0.7em;
}

.pad .author1 {
  background-color: var(--rose-karel);
}

.pad .author2 {
  background-color: var(--orange-karel);
}

.pad .author3 {
  background-color: var(--vert-karel);
}

#detail-container .close-button {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 125%;
}


#prolog {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

.prolog-expanded #prolog {
  background-position: center center;
  background-size: contain;
  background-color: #ffdbdb;
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
}

  .prolog-expanded .left .about {
    display: none;
  }

@media only screen and (min-width: 767px) {
  .prolog-expanded .right {
    display: none;
  }

  .prolog-expanded .left {
    border-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 1.1em;
  }

  nav {
    position: fixed;
    width: 95%;
    background: white;
  }

  nav ul {
    margin-top: 15px;
  }

  p.logo {
    width: 51px;
  }

  #container {
    margin: 0px 5px;
    border: 0px solid;
    /* display: block; */
    /* width: 97%; */
    height: initial;
  }

  main {
    flex-direction: column;
    flex: 2 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow: initial;
  }

  .left {
    /* width: 95%; */
    border-right: 0px solid;
    border-bottom: 2px solid black;
    height: 55%;
    /* position: fixed; */
    background: white;
    flex-direction: row;
  }

  .right {
    overflow: initial;
    position: sticky;
    top: 160px;
    width: 100%;
  }

  #prolog {
    border-right: 2px solid black;
    margin-top: 79px;
    position: sticky;
    flex: 1 0;
    max-height: 25vh;
  }

  .about {
    margin-top: 77px;
    font-size: 0.8em;
    flex: 1 0;
    max-height: 25vh;
  }

  .partners {
    border: 2px solid;
    border-top: 0px solid;
  }

  .event-exerpt {
    display: none;
  }

  .agenda {
    overflow: initial;
  }

  #detail-container {
    display: none;
  }

  /*
    Hide other containers, hide scroll on body
  */

  body.event-active-through-click {
    overflow: hidden;
  }

  body.event-active-through-click nav {
    z-index: 0;
  }

  .event-active-through-click #detail-container {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
  }

  img.event-image {
    max-height: 3em;
  }

  #detail-container .close-button {
    display: block;
  }

  .prolog-expanded #prolog {
    background-position: center center;
    background-size: contain;
    background-color: #ffdbdb;
    cursor: zoom-out;
    cursor: -webkit-zoom-out;
    height: 40vh;
    max-height: 40vh;
    border-right: 0;
  }
}
