@font-face {
    font-family: "Junicode-Condensed";
    src: url("fonts/junicode/Junicode-BoldItalicCondensed.woff");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: "Junicode-Condensed-Bold";
    src: url("fonts/junicode/Junicode-BoldCondensed.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Caveat-Outline";
    src: url("fonts/Caveat.woff");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("fonts/u001-font-univers/webfonts/U001-Reg.woff");
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("fonts/u001-font-univers/webfonts/U001-Bol.woff");
    font-weight: Bold;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("fonts/u001-font-univers/webfonts/U001-BolIta.woff");
    font-weight: Bold;
    font-style: italic;
}
@font-face {
    font-family: "U001";
    src: url("fonts/u001-font-univers/webfonts/U001-Ita.woff");
    font-weight: regular;
    font-style: italic;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6;;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    color: rgb(0, 71, 171);

}
:root {
  --bleu-bille: #112B92;
  --vert-karel: #00B788;
  --orange-karel: #ff801f;
  --rose-karel: #FCBFC4;
  --rose-pale: #ffe1e4;
  --red-question: #ff3f00;
}

body {
  font-family: "U001";
  font-size: 1.5em;
  padding: 0px;
  margin: 0px !important;
  line-height: 1.2em;
}
p {
  margin: 0;
}
p + p {
  margin-top: 12pt;
}
p.event-date + p,
p.event-title + p {
  margin-top: 0pt;
}
a {
  text-decoration: none;
  border: 4px double black;
  font-size: 0.8em;
  padding: 1px 8px;
  color: black;
  font-weight: bold;
}
a:hover {
  color: var(--red-question);
  border-color: var(--red-question);
}
.logo a {
  border: 0px double black;
  padding: 0px 0px;
}
sup {
  line-height: 0pt;
}
#container {
  /* margin: 0px 20px; */
  border-left: 2px solid;
  border-right: 2px solid;
  /* height: 100%; */
  /* margin: 0; */
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 800px;
  margin: auto;

}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
.tags {
  color:var(--bleu-bille);
  font-size: 0.7em;
}
.tags li, .documents li {
  list-style-type: none;
  display: inline-block;
  /* border: 1px solid; */
  padding: 0px 4px;
  /* border-radius: 42px; */
  /* border-bottom: 2px solid; */
  text-decoration: underline;
}
nav {
  top: 0px;
  z-index: -100;
  border-bottom: 2px solid;

}
#menu {
  padding: 20px;
}
img.logo {
  width: 250px;
}
p.logo {
  width: 250px;
  display: inline;
  float: left;
  margin-right: 30px;
  margin-top: 20px;
  margin-left: 20px;
}
p.logo-subtitle {
  width: 690px;
}
.toc {
  background-color: var(--bleu-bille);
  color:white;
}
.toc a {
  color:white;
  border-color: white;
}
.toc a:hover {
  color: var(--orange-karel);
  border-color: var(--orange-karel);
}
div.images {
  width: 100%;
  /* <img src="img/PR-18-1-pdf-Lesage.png"/> */
  /* background-color: var(--rose-pale); */
  background-blend-mode: multiply;
  width: 560px;
  height: 390px;
  background-size: cover;
  margin-top: 24px;
  border: 2px solid black;
}
#reading-room4 {
  background-image: url('img/PR-18-1-pdf-Lesage.png');
}
#batard {
  background-image: url('img/1024px-Bill_of_sale_Louvre_AO3765-nb.jpg');
}

 img.event {
  border : 2px solid black;
  width: 30%;
  float: left;
  margin-right: 1em;
  margin-top: 0.3em;
 }

 img.event-detail {
  border : 2px solid black;
  width: 100%;
  margin-right: 1em;
  margin-top: 0.3em;
 }
 img {
   width: 100%;
 }
 img.images {
   width: 100%;

 }
nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  flex: 0 0 auto;
  padding-right: 20px;
  padding-top: 18px;
}
nav li a {
  text-decoration: none;
  color: inherit;
}
nav li a:hover {
  color: blue;
}
main {
  /* display: flex;
  flex-direction: row; */
}
#prolog, .about, .agenda, .partners, #detail-container, .pad, .toc {
  padding: 20px
}
/* .left {
  display: flex;
  flex-direction: column;
  border-right: 2px solid;
  flex: 1 0 0;
} */

#prolog, .about {
  overflow-y: none;
}


.question-quote {
  font-size: 4.6em;
  line-height: .8em;
  font-family: "Caveat-Outline";
  color: #ff3f00;
  padding: 20px;
}
.event {
  border-top: 2px solid;
}
.reading-room {
  background-color: var(--rose-pale);
}
/* .agenda::before {
  content: "\27A8";
  position: absolute;
  margin-left: -26pt;
  margin-top: 0px;
} */


.agenda {
  color: var(--bleu-bille);
  padding: 10px;
  padding: 20px 50px;
  /* margin: 20px; */
}

.event-date {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Junicode-Condensed-Bold;
  line-height: 1.1em;
  clear: both;
}
.event-title {
  /* font-family: "Junicode-Condensed"; */
  font-size: 1em;
  line-height: 1.4em;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.event-exerpt {
  font-weight: normal;
}

.event-detail {
  display: none;
  font-weight: normal;
}

.intro {
  font-family: "Junicode-Condensed";
    font-size: 1.7em;
    line-height: 1em;
}
.partners {
  clear: both;
  bottom: 0pt;
  background-color: var(--rose-karel);
  border-top: 2px solid;
  z-index: 100;
}
.partners img.logo-partners {
  height: 16px;
}

/*pads styles*/

div .pad {
  max-width: 800px;
}

.pad h1, h2, h3{
  font-family: Junicode-Condensed;
}

.pad .meta {
    font-size: 0.7em;
}

.pad .author1 {
  background-color: var(--rose-karel);
}

.pad .author2 {
  background-color: var(--orange-karel);
}

.pad .author3 {
  background-color: var(--vert-karel);
}
